# core framework
fastapi==0.115.5
uvicorn[standard]==0.32.1
websockets==13.1

# llm client
openai==1.57.0
httpx==0.28.0  

# settings & validation
pydantic==2.10.3
pydantic-settings==2.6.1 
# structured logging
structlog==24.4.0

# asr
faster-whisper==1.1.0
# PyTorch - install based on platform w/:-
#   CPU:  pip install torch --index-url https://download.pytorch.org/whl/cpu
#   CUDA: pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124S
#         for my system, i ran: pip install --pre --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128

# tts
kokoro==0.9.4
soundfile==0.12.1
numpy==1.26.4

# mcp & tools
google-api-python-client==2.155.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0 

# img. processing
rembg==2.0.69

# auth.
cryptography==46.0.5
httpx==0.28.0

# vector db & doc. processing
chromadb==1.5.5
pypdf==6.9.2
python-docx==1.2.0
trafilatura==2.0.0
python-multipart==0.0.24

# packaging and wakeword dependencies
pyinstaller==6.19.0
pystray==0.19.5
pillow==12.0.0
platformdirs==4.9.4
pyaudio==0.2.14
openwakeword==0.6.0
# and for wake word models:-
# python -m openwakeword.download_models --model hey_mycroft
# OR in cmd:-
#     py
#     import openwakeword
#     from openwakeword.model import Model
#     openwakeword.utils.download_models("hey_mycroft")
